<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MovieList</title>
  <script src="/../public/js/vendor.min.js"></script>
    <link rel="stylesheet" href="/../public/css/styles.min.css">
</head>
<body>
    <div class="center form-inline row justify-content-center">
        
    <form action="/search" method="post">
  <label for="search" class="txt-color"></label>
    <input type="text" class="form-control" id="search" name="search" placeholder="Enter query here">
  <input type="submit" class="btn btn-primary" value="Search">


</form>
</div>
    
 {{{body}}}
    <footer>
    </footer>
</body>
</html>